* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  scroll-behavior: smooth;
  font-family: "Space Mono", monospace;
}

body {
  background-color: #f0f0f0;
}
